<%- include('./partials/header')%>

<div class="flex w-full px-10 py-5 justify-end gap-10 fixed">
        <h2 ><a class="text-2xl" href="/create-post"><i class="ri-add-box-line"></i></a></h2>
        <!-- /userUpdate/<%=user._id%> -->
        <h2><a class="text-2xl" href="/profile"><img class="rounded-full w-[2vmax] h-[2vmax]" src="/images/<%= user.profilepic%>" alt=""></a>
        </h2>
</div>

<div class="w-full h-max bg-slate-0 px-32 py-20 flex flex-wrap gap-10">
    <% posts.forEach((post)=> { %>
    <div class="w-[22vw] h-[60vh] bg-slate-200 rounded-3xl  border-2 shadow-2xl transition-all bg-white text-blue-400">
        <div class="w-full flex p-2">
            <img class="w-14 h-14 object-center object-cover rounded-full" src="/images/<%= post.user.profilepic %>" alt="">
            <div class="ms-4">
                <h2 class="text-2xl font-serif"><%= post.user.username %></h2>
                <p> <%= post.createdAt.toLocaleTimeString()%> |
                    <%= post.createdAt.toLocaleDateString()%></p>
            </div>
        </div>
        <img class="w-full h-[60%] object-center object-cover mt-5" src="/images/<%= post.media%>" alt="">
        <div class="p-2">
            <span class="text-2xl"><%= post.likes.length%></span>
                <a href="/like/<%= post._id%>" class="text-2xl">
                    <% if(post.likes.includes(user._id)) { %>
                        <i class="text-red-600 ri-heart-3-fill"></i>
                        <% } else { %>
                            <i class="ri-heart-3-line"></i>
                            <% } %>
                </a>
            <a href="" class="text-2xl"><i class="ri-chat-1-line"></i></a>
        </div>
        <p class="px-2 font-Arial"><%= post.title%></p>
    </div>
    <% }) %>

</div>

<%- include('./partials/footer')%>
